*.log

options.txt

.curseclient

minecraftinstance.json
patchouli_data.json

imgui.ini

logs/
local/
saves/
resourcepacks/
patchouli_books/
schematics/
skyblock_exports/
tconplanner/
baubles/
journeymap/


